@model VOMO.Web.Models.Posts.PostsIndexViewModel

<h1>Viewing posts</h1>

@Html.ActionLink("+ Add post", "create", "posts", new { @class = "btn btn-primary" })
<hr/>

@foreach (var post in Model.Posts)
{
    @Html.Partial("Components/Post", post)
    <hr/>
}